<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="Pos.Ui.Properties.Settings.POSConnectionString" connectionString="Data Source=ADMIN-PC;Initial Catalog=POS;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PathToDir" value="\\Admin-pc\vssdb\Document"/>
    <!--<add key="Con" value="Data Source=192.168.0.2;Initial Catalog=POS; Persist Security Info=True;User ID=sa;Password=123;"/>-->
  </appSettings>
</configuration>